@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Roboto Condensed", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
    font-style: normal;
    --color_100: #f3f4f6;
    --color_300: #d1d5db;
    --color_500: #6b7280;
    --color_600: #1e293b;
    --color_900: #111827;
    --color_950: #020617;
}

body {
    background-color: #D6D6D6;
    min-height: 100vh;
    background-color: var(--color_100);
}

.container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container>* {
    color: var(--color_900);
}

#logo {
    align-self: center;
    margin-bottom: 1rem;
    padding: 10px;
}

hr {
    width: 70%;
    align-self: center;
}


.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    word-spacing: 1rem;
    font-size: 2.5vw;
}

h1 {
    text-wrap: balance;
    font-weight: 500;
    color: var(--color_900);
}

.progress-container {
    margin-top: 0px;
    position: relative;
    width: 70%;
    align-self: center;
    background-color: #359AB0;
    border-radius: 2.5vw;
    /* Adjust the radius as needed */
    overflow: hidden;
    /* Ensure the progress doesn't overflow the container */
    box-shadow: 2px 2px 2px var(--color_700);
}

.progress-bar {
    /* height: 80px; */
    height: 5vw;
    width: 30%;
    background-color: #011E31;
    border-radius: 2.5vw;
    /* Same radius as the container */
    transition: width 0.5s ease;
}

.progress-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: bold;
    /* font-size: xx-large; */
    font-size: 2.5vw;
}

.summary-container {
    display: flex;
    justify-content: center;
    width: clamp(50%, 70%, 80%);
    align-self: center;
    gap: 100px;
    /* background-color: #C0C0C0; */
    background-color: var(--color_300);
    font-size: 2vw;
    border-radius: 20rem 20rem;
    padding: 20px 20px;
    border: 2px solid var(--color_500);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}


.monetary-info,
.info-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 600;
}

.monetary-info>* {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 3vw;
    gap: 4px;
}


.monetary-info>span::after {
    content: ' Mio. kr.';
    /* margin-left: 5px; */
}

.deadline-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    align-self: center;
    width: 40%;
    background-color: var(--color_300);
    font-size: 2vw;
    border-radius: 20rem 20rem;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border: 2px solid var(--color_500);
}

.deadline {
    text-align: center;
    font-size: 1.2vw;
    display: flex;
    flex-direction: column;
    color: var(--color_900);
}

.countdown {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.countdown>* {
    display: flex;
    gap: 5px;
    color: var(--color_900);
}

.countdown-item>* {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}


.countdown-number {
    font-size: 2vw;
    font-weight: bolder;

}

.countdown-label {
    font-size: 1.2vw;
    color: var(--color_500);
}


@media only screen and (max-width: 480px) {

  

    body {
        margin: 0;
        padding: 0;
    }

    .container {
        display: grid;
        grid-template-rows: repeat(5, .1fr);
        min-height: 100vh;
        gap: 10px;
        padding: 20px;
        place-items: center;
    }



    #logo {
        width: 200px;
        height: 200px;
    }

    h1 {
        word-spacing: normal;
        font-size: 1.3rem;
        text-decoration: overline;
    }

    .container div + hr {
        display: none;
    }

    .summary-container {
        display: grid;
        grid-template-columns: 1fr 100px;
        border-radius: 0;
        gap: 0;
        justify-items: start;
        border-radius: 10px 20px;
        width: 100%;

    }

    .monetary-info>*,
    .info-header>* {
        font-size: 1rem;

    }

    .deadline-container {
        width: 75%;
    }

    .deadline h2 {
        font-size: 1.2rem;
    }

    .countdown-item {
        gap: 3px;
    }

    .deadline-container>*,
    .countdown .countdown-label {
        font-size: 0.5rem;
    }

    .countdown .countdown-number {
        font-size: 1.2rem;
    }


}